.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    position: absolute;
    width: 265px;
    height: 724px;
    padding: 16px;
    top: 88px;
    left: 110px;
    background-color:#113D3B;
    box-shadow: 0px 4px 4px 0px #0000001F;
}

.title {
    font-weight: 800;
    size: 16px;
    font-family: "Montserrat", sans-serif;
    line-height: 19px;
    color: white;
    width: 72px;
    height: 36px;
}

.options {
    font-weight: 400;
    size: 16px;
    font-family: "Montserrat", sans-serif;
    line-height: 19px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.label {
    width: 235px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.image {
    background-color: transparent;
    rotate: 90deg;
    padding: 9px;
    cursor: pointer;
}

.image:hover {
    background-color: lightgray;
}

.list {
    width: 235px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    background: #2D8A87;
    padding: 10px;
    gap: 8px;
}