.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 375px;
    height: 1500px;
    background: #2D8A87;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 375px;
    height: 36px;
    padding: 9px;
}

.image {
    background-color: #0000007A;
    rotate: 270deg;
    padding: 6px;
}

.collab {
    padding-left: 20px;
}