.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 375px;
    height: 375px;
    padding-right: 32px;
    padding-left: 32px;
}

.image {
    background-color: #0000007A;
    rotate: 270deg;
    border-radius: 4px;
    z-index: 1;
    position: absolute;
    cursor: pointer;   
}

.image1 {
    background-color: #0000007A;
    border-radius: 4px;
    rotate: 90deg;
    z-index: 1;
    position: absolute;
    margin-left: 273px;
    cursor: pointer;
}

.carousel {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: -32px;
}

.imageCarousel {
    rotate: 360deg;
}